.App {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.icon-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn {
  margin: 10px;
}

.card-overlay {
  color: white;
  display: flex;
  height: 270px;
  align-items: flex-end;
  justify-content: flex-end;
}

.card-overlay > * {
  margin: 3px;
  font-size: 1.5rem;
  color: lightgoldenrodyellow;
}